* {
    box-sizing: border-box;
}

.surface-ground {
    background-color: #eff3f8 !important;
}

.surface-card {
    background-color: #ffffff !important;
}

.min-h-screen {
    min-height: 100vh;
}

.min-w-screen {
    min-height: 100vw;
}
.w-30rem {
    width: 30rem !important;
}