* {
    box-sizing: border-box;
}

a {
    color: #6366F1 !important;
    text-decoration: none !important;
}

.surface-ground {
    background-color: #f9fafb !important;
}

.surface-card {
    background-color: #ffffff !important;
    padding: 5rem !important;
}

.min-h-screen {
    min-height: 100vh;
}

.min-w-screen {
    min-height: 100vw;
}

.mt-10{
    margin-top: 5rem;
}
.form-control {
    width: 30rem !important;
}
.logo {
    width: 9rem;
    margin-bottom: 1rem;
}

@media(max-width: 650px){
    .form-control {
        width: 15rem !important;
    }

    .surface-card {
        padding: 5rem 2rem 5rem 2rem !important;
    }

}

body {
    letter-spacing: 0.7px;
    background-color: #eee;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

p {
    font-size: 14px;
}

.btn-primary {
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}

.cursor-pointer {
    cursor: pointer;
    color: #42A5F5;
}

.pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-block {
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px;
}

.card-body.show {
    display: block;
}

.card {
    padding-bottom: 20px;
    box-shadow: 2px 2px 6px 0px rgb(200, 167, 216);
}

.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    min-width: 250px;
}


.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio.selected {
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.selected {
    background-color: #E0F2F1;
}

.a {
    justify-content: center !important;
}


.btn {
    border-radius: 0px;
}

.btn,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}